.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal {
    color: var(--modal-forecolour);
    background: rgb(24, 22, 29);
    width: 90vmin;
    padding: 20px;
    border-radius: 6px;
}

.modalHeader {
    padding: 0 10px;
    margin-bottom: 10px;
}

    .modalHeader h2 {
        margin: 0;
    }

.modalBody {
    height: 50vh;
    padding: 10px;
    margin: 0;
}

.modalFooter {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem .75rem .25rem;
    border-top: 1px solid var(--modal-forecolour);
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.closeButton {
    color: var(--modal-forecolour);
    background-color: transparent;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: .375rem .75rem;
    border: solid 1px var(--modal-forecolour);
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
}

.closeButton:hover {
    color: #212529;
    background-color: var(--modal-forecolour);
    border-color: #a1a4a7;
}

.closeCross {
    color: var(--modal-forecolour);
    background: transparent;
    border: none;
    zoom: 1.5;
    float: right;
    cursor: pointer;
    transition: color .15s ease-in-out;
}

.closeCross:hover {
    color: #a1a4a7;
}
