.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal {
    background: white;
    /* min-width: 300px; */
    width: 90vmin;
    height: 90vmin;    padding: 20px;
    border-radius: 5px;
}

.closeButton {
    margin-bottom: 10px;
    cursor: pointer;
}

.closeCross {
    font-weight: 700;
    border: none;
    background: transparent;
    margin-bottom: 10px;
    float: right;
    cursor: pointer;
}

.modalHeader h2 {
    margin: 0;
}

.modalBody {
    margin: 0;
}

.modalFooter button {
    float: right;
}
