.marquee {
    color: white;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.marquee .item {
    display: inline-block;
    padding-left: 100%;
    padding-bottom: 5px;
    animation: marquee 15s linear infinite;
}

.marquee .item img {
    height: 20px;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}