.marquee {
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.marquee::before {
    content: '';
    display: block;
    height: 30px;
    aspect-ratio: 279 / 5;
    background-size: cover;
    background-image: url('/portfolio/images/subtitle.svg');
    background-repeat: no-repeat;
    opacity: 0.75;
    margin-left: 100vw;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation: marquee var(--scrollSpeed) linear infinite;
}

.marquee::after {
    content: '';
    display: block;
    height: 30px;
    aspect-ratio: 279 / 5;
    background-size: cover;
    background-image: url('/portfolio/images/subtitle_outline.svg');
    background-repeat: no-repeat;
    margin-left: 100vw;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    z-index: 3;
    animation: marquee var(--scrollSpeed) linear infinite;
}

.marquee .item img {
    height: 20px;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(calc((100vw + 1675px) * -1), 0); }
}