.banner {
  width: 100%;
  height: 100vh;
  /* background-color: #acb9c2; */
  /* text-align: center; */
  overflow: hidden;
  position: relative;
}

.banner .content {
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.author {
  text-align: right;
  max-width: 200px;
}

.banner .content h1 {
  color: darkslategray;
  font-size: 16em;
  line-height: 1em;
  margin-top: 0;
}

.banner .content h2 {
  font-size: 3em;
}

.banner .content .model {
  width: 100%;
  height: 72vh;
  background-image: url('/portfolio/images/character-model.png');
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  animation: accelerateUp 1.5s ease-out forwards;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 2;
}


/* Animation tweens */

@keyframes accelerateUp {
  0% {
      transform: translateY(100vh);
  }
  80% {
      transform: translateY(0);
  }
  90% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}
